--
--

#navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.menu-4 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  position: fixed; /* Set the navbar to fixed position */
  width: 100%; /* Full width */
  top: 0px;
  border: 2px rgba(255,255,255,1.0);
  border-style: solid hidden solid hidden;
}
.menu-4 * {
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.menu-4 li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1.5em;
  overflow: hidden;
}
.menu-4 a {
  padding: 0.3em 0;
  color: rgba(255,255,255,0.5);
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  margin: 0;
  text-decoration: none;
}
.menu-4 a:before,
.menu-4 a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.menu-4 a:before {
  bottom: 100%;
  display: block;
  height: 3px;
  width: 100%;
  content: "";
  background-color: rgba(254, 213, 125, 1.00);
}
.menu-4 a:after {
  padding: 0.3em 0;
  position: absolute;
  bottom: 100%;
  left: 0;
  content: attr(data-hover);
  color: rgba(255, 255, 255, 1.0);
  white-space: nowrap;
}
.menu-4 li:hover a,
.menu-4 .current a {
  transform: translateY(100%);
}

#home {
  height: 100vh;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  -webkit-animation-name: background;
  -webkit-animation-duration: 12s;
  -webkit-animation-timing-function: cubic-bezier(.37,.37,.94,.94);
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes background {
  0% {
    background-image: url('/images/castle.jpg');
  }
  15% {
    background-image: url('/images/castle.jpg');
  }
  20% {
    background-image: url('/images/boat.jpg');
  }
  40% {
    background-image: url('/images/boat.jpg');
  }
  45% {
    background-image: url('/images/sunset.jpg');
  }
  65% {
    background-image: url('/images/sunset.jpg');
  }
  70% {
    background-image: url('/images/selfie.jpg');
  }
  95% {
    background-image: url('/images/selfie.jpg');
  }
  100% {
    background-image: url('/images/castle.jpg');
  }
}
.anitext::before {
        font-family: 'Romantically Free For Personal', sans-serif;
        content: "Fabian & Melanie";
        animation: animate infinite 12s;
        padding-left: 10px;
        font-size: 50px;
        font-weight:700;
        position: relative;
        top: 20%; left: 0%;
        color: rgba(255, 255, 255, 1)
    }
@keyframes animate {
  0% {
        content: "Melanie & Fabian"
  }
  15% {
        content: "Melanie & Fabian"
  }
  20% {
        content: "We fell in love"
  }
  40% {
        content: "We fell in love"
  }
  45% {
        content: "She said yes"
  }
  65% {
        content: "She said yes"
  }
  70% {
        content: "We're getting married"
  }
  95% {
        content: "We're getting married"
  }
  100% {
        content: "Melanie & Fabian"
  }}

#details {
    background-color: rgba(217, 210, 185, 0.75);
    height: 100vh;
    background-size: cover;
    padding:75px;
    text-align:center;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    height: 100vh;
      }
.subtitle {
  font-size: 30px;
  display: flex;
  font-family: 'Romantically Free For Personal', sans-serif;
  color: rgba(255, 255, 255, 1);
  text-decoration: underline;
}
.subtitle.space-around {
  justify-content: space-around;
}
.subtitle.space-between {
  justify-content: space-between;
}
.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 20px;
}
.i {
    width: 30px;
    height: 20px;
    background-color: blue;
}
.caption {
    display: block;
}

#where {
    height: 100vh;
    background-image: url('/images/LagoGarda.jpg');
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    }
