<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/german.css">
    <link href='https://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
    <link href="https://fonts.cdnfonts.com/css/romantically-free-for-personal" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/add-to-calendar-button@1/assets/css/atcb.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,100,0,0"/>
    <style>
        html {
            margin: 0;
            padding: 0;
            height: 100vh;
        }

        body {
            text-align: center;
            font-family: 'Avenir Next', sans-serif;
            font-size: 18px;
            height: 100vh;
            margin: 0;
            padding: 0;
        }

        h1 {
            color: #212121;
            font-weight: 100;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<header id=navbar>
    <!-- Navigation Bar -->
    <nav class="style-4" aria-label="main navigation">
        <ul class="menu-4">
            <li><a href="#home" data-hover="Home">Home</a></li>
            <li><a href="#details" data-hover="Details">Details</a></li>
            <li><a href="#where" data-hover="Verantstaltungsort">Verantstaltungsort</a></li>
            <li><a href="#program" data-hover="Programm">Programm</a></li>
            <li><a href="#rsvp" data-hover="RSVP">RSVP</a></li>
            <li><a href="{{ site.baseurl }}/index" data-hover="ENG">DEU</a></li>
        </ul>
    </nav>
    <!-- Navigation Bar End -->
</header>

<!-- Section with changing background image -->
<section id="home">
    <span class=anitext id=anitext1> Melanie & Fabian </span>
</section>

<section id="details">
    <div class="subtitle space-around">
        <div>
            <span class="dummy"> &nbsp</span>
            <span class="dummy"> &nbsp</span>
            <span class="dummy"> &nbsp</span>
            <span class="dummy"> &nbsp</span>
            <i class="material-icons-outlined" style="font-size:50px;color:rgba(251, 215, 161, 1.0);">groups</i>
            <span class="caption">Wer</span>
            <span class="dummy">&nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</span>
            <div class="line"></div>
            <span class="info-1">Freunde & Familie</span>
            <span class="info-2">von nah und fern</span>
        </div>
        <div>
            <span class="dummy"> &nbsp</span>
            <span class="dummy"> &nbsp</span>
            <span class="dummy"> &nbsp</span>
            <span class="dummy"> &nbsp</span>
            <i class="material-icons-outlined" style="font-size:50px;color:rgba(251, 215, 161, 1.0);">watch</i>
            <span class="caption">Wann</span>
            <span class="dummy">&nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</span>
            <div class="line"></div>
            <span class="info-1">1. Juni</span>
            <span class="info-2">2023</span>
            <span class="info-2">&nbsp</span>
            <div class="atcb" style="display:block;margin-top: 67px; background: transparent">
                {
                "inline":true,
                "label": "KALENDER",
                "background": false,
                "name":"Wedding Melanie and Fabian",
                "description":"Check out the maybe easiest way to include add-to-calendar-buttons to your website
                at:<br>→ [url]https://github.com/add2cal/add-to-calendar-button[/url]",
                "startDate":"2023-05-31",
                "endDate":"2023-06-02",
                "startTime":"16:00",
                "endTime":"12:00",
                "location":"Gardone Riviera",
                "options":[
                "Apple",
                "Google",
                "iCal",
                "Microsoft365",
                "MicrosoftTeams",
                "Outlook.com"
                ],
                "timeZone":"Europe/Berlin",
                "iCalFileName":"Reminder-Event"
                }
            </div>
        </div>
        <div>
            <span class="dummy"> &nbsp</span>
            <span class="dummy"> &nbsp</span>
            <span class="dummy"> &nbsp</span>
            <span class="dummy"> &nbsp</span>
            <i class="material-icons-outlined" style="font-size:50px;color:rgba(251, 215, 161, 1.0);">castle</i>
            <span class="caption">Wo</span>
            <span class="dummy">&nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</span>
            <div class="line"></div>
            <span class="info-1">Torre San Marco</span>
            <span class="info-2">Gardone Riviera</span>
            <span class="info-2">Lago di Garda Italien</span>
            <div class="atcb-button-wrapper">
                <div class="atcb-button" style="display:block; margin-top: 67px;">
                    <span class="link-1" style="display: inline"> &nbsp &nbsp &nbsp&nbsp </span>
                    <span class="material-symbols-outlined"
                          style="vertical-align:middle; font-size:25px;color:black; display: inline;">map</span>
                    <a class="link-1"
                       href="https://www.google.nl/maps/place/La+Torre+di+San+Marco/@45.620696,10.5654335,17z/data=!3m1!4b1!4m5!3m4!1s0x47818c210975bb83:0xd45ebe89228a2cb8!8m2!3d45.620696!4d10.5676222">KARTE
                        &nbsp &nbsp &nbsp &nbsp&nbsp</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="where">
    <div class="grid-where">
    <div class="text-box">
        <span class="title">The Location</span>
        <span class="content">Der am Westufer des Gardasees gelegene  <a
                href="https://www.torresanmarco.it/lagodigarda/event-location.html">Torre San Marco</a> wurde im frühen 20. Jahrhundert vom Besitzer der nahe gelegenen Villa Alba, dem deutschen Industriellen Richard Langensiepen, erbaut.
        <span class=mobile-hide> Gabriele D'Annunzio erwarb den Turm im Jahre 1925 und ließ den ursprünglichen im neugotischen Stil erbauten Turm in den venezianischen Stil umbauen. In den Jahren 1943-44 war er auch der geheime Treffpunkt von Benito Mussolini und seiner Geliebten Claretta Petacci.</span>
        <span class="conent"> Heute zeichnet sich der Turm durch eine große Pianobar im Erdgeschoss, ein Restaurant und eine Weinkellerei im ersten Stock und einen bezaubernden Garten mit Blick auf den See aus.</span>
    </div>
    </div>
</section>

<section id="program">
  <div id="program-grid">
  <div id="program-grid-item"><span id="program-grid-heading">Programm</span></div>
  <div id="program-grid-content">
        <img src="/images/Programm_DEU.svg" alt="Desktop Image" id="program-desktop">
        <img src="/images/Programm_DEU_mobile.svg" alt="Mobile Image" id="program-mobile">
  </div>
  </div>
</section>

<section id="rsvp">
    <span class="dummy"> &nbsp</span>
    <span class="dummy"> &nbsp</span>
    <iframe class="rsvpform"
            src="https://docs.google.com/forms/d/e/1FAIpQLSdOEEITPJ45mPUApVyRZTDJ1dvpbO9MRaZgtBbauKn8Dt27Ew/viewform?embedded=true"
            width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0">Loading…
    </iframe>
</section>

<script src="https://cdn.jsdelivr.net/npm/add-to-calendar-button@1" async defer></script>
<script type="text/javascript"> $('.rsvpform').css('height', $(window).height() + 'px');</script>
<script type="text/javascript">
    $(document).ready(function () {
        const offset = $('#details').offset();
        let scrollStart = 0;
        $(document).scroll(function () {
            scrollStart = $(this).scrollTop();
            if (scrollStart < offset.top) {
                $('.menu-4').css('background-color', 'transparent');
                $('.menu-4').css('background-image', '');
            } else {
                $('.menu-4').css('background-image', 'url({{ site.baseurl }}/images/bg.jpg)');
            }
        });
    });
</script>


<!-- Here we detect if there is mobile deveice being used -->
<script type="text/javascript">
        function style_webpage() {
             const IPO = /iPhone/.test(navigator.userAgent);
             /* iPads apparently have Macintish in their user agent string */
             const IPA = /iPad|iPad4,1|iPad4,2|iPad5,1|iPad5,2|Macintosh/.test(navigator.userAgent);
             const AG = navigator.userAgent
             /* figure out what the screen orientation is */
             const IsPortrait = window.matchMedia("(orientation: portrait)").matches || window.orientation === 0 || window.orientation === 180;
             /*document.getElementById("program-grid-heading").innerHTML = AG;*/

             /* these are the elements we want to modify by assinging a class to them */
             const ids = ["program-grid", "program-grid-item", "program-grid-heading",
                          "program-grid-content", "program-desktop", "program-mobile"];
             /* now we loop over everything and set the specifc classes */
             for (let i = 0; i < ids.length; i++) {
                 /* Case 1: we have an iphone */
                 if ('ontouchstart' in window && IPO) {
                     let class_item = ids[i] + "-IPO";
                     document.getElementById(ids[i]).classList.add(class_item);
                     console.log(ids[i], class_item);
                     }
                 /* Case 2: we have an ipad */
                else if ('ontouchstart' in window && IPA) {
                     let class_item = ids[i] + "-IPA";
                     document.getElementById(ids[i]).classList.add(class_item);
                     /* we need to add more pdding if in portrait mode */
                     if (IsPortrait && class_item == "program-grid-IPA") {
                        $('.program-grid-IPA').css('padding-top', '35%');
                        $('.program-grid-IPA').css('column-gap', '10%');
                     }
                    }
                 /* Case 3: we have mobile device that's neither ipad nor iphone
                    it has a small screen so probably a mobile phone*/
                else if ('ontouchstart' in window && screen.width < 1024) {
                     let class_item = ids[i] + "-phone";
                     document.getElementById(ids[i]).classList.add(class_item);
                    }

                 /* Case 4: we have mobile device that's neither ipad nor iphone
                    and it has a large screen so probably a tablet*/
                else if ('ontouchstart' in window && screen.width > 1024) {
                     let class_item = ids[i] + "-tablet";
                     document.getElementById(ids[i]).classList.add(class_item);
                      /* we need to add more pdding if in portrait mode */
                     if (IsPortrait && class_item == "program-grid-tablet") {
                        $('.program-grid-tablet').css('padding-top', '35%');
                        $('.program-grid-tablet').css('column-gap', '10%');
                     }
                   }

                /* Case 5: Now this should be a desktop screen*/
                else {
                     let class_item = ids[i] + "-desktop";
                     console.log('go here')
                     document.getElementById(ids[i]).classList.add(class_item);
                    }

             }}
    $(document).ready(function() {
        // Call the function on page load
        style_webpage();
        // Call the function on orientation change
        window.addEventListener("orientationchange", style_webpage);
        // Call the function on orientation change
        window.addEventListener("resize", style_webpage);
        // Call the function on orientation change back
        window.matchMedia("(orientation: portrait)").addListener(style_webpage);
        // Call the function on orientation change back
        window.matchMedia("(orientation: landscape)").addListener(style_webpage);
    });

</script>


<script type="text/javascript">
    $(document).ready(function () {
            const p = [
                'https://fgrunewald.github.io/WeddingMelanieFabian/images/boat.jpg',
                'https://fgrunewald.github.io/WeddingMelanieFabian/images/sunset.jpg',
                'https://fgrunewald.github.io/WeddingMelanieFabian/images/selfie.jpg',
                'https://fgrunewald.github.io/WeddingMelanieFabian/images/castle.jpg',
            ];

            const anitexts = ['Wir haben uns verliebt',
                              'Sie hat Ja gesagt',
                              'Wir heiraten',
                              'Melanie & Fabian'];
            let counter = 0;
            setInterval(function () {
                document.getElementById("anitext1").textContent=anitexts[counter];
                $('#home').css('background-image', `url('${p[counter++]}')`);
                counter = counter > 3 ? 0 : counter++;
            }, 3000)
        }
    );
</script>
</body>
</html>
