<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/assets/css/style-4.css">
  <link rel="">
  <link href='https://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
  <link href="http://fonts.cdnfonts.com/css/romantically-free-for-personal" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <style>
	/* Common Styles - Can ignore*/
	body{
	  text-align:center;
	  font-family: 'Oswald', sans-serif;
	  font-size: 18px;
	  height: 100vh;
	}
	h1{
	  color:#212121;
	  font-weight:100;
	}
	</style>
</head>
<body>
<header, id=navbar>
<!-- Navigation Bar -->
	<nav class="style-4", aria-label="main navigation">
		<ul class="menu-4">
		  <li><a href="#home" data-hover="Home">Home</a></li>
		  <li><a href="#details" data-hover="The Details">The Details</a></li>
		</ul>
	</nav>
<!-- Navigation Bar End -->
</header>

<!-- Section with changeing background image -->
<section id="home">
<span class=anitext> </span>
</section>

<section id="details">

<div class="subtitle space-around">
<div>
<i class="material-icons" style="font-size:90px;color:white;">groups</i>
<span class="caption">Who</span>
</div>
<div>
<i class="material-icons" style="font-size:90px;color:white;">date_range</i>
<span class="caption">When</span>
</div>
<div>
<i class="material-icons" style="font-size:90px;color:white;">castle</i>
<span class="caption">Where</span>
</div>
</div>


</section>

</body>
</html>
